<!DOCTYPE html>	
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
<br>

<head>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@600;800&display=swap" rel="stylesheet">


<style type="text/css">*
.mdr-container{
  margin-top: 0px;
  padding:0px;
  padding-bottom:0px;
  background-image:transparent;
  border:0.0px solid #ffffff;
  border-radius:0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0);
  
}

.header{
  padding-bottom: 10px;
  
  left: -30px;
  padding: 15px;
  z-index: 1;
  
  border-radius: 10px;
  position-bottom: absolute;
  background: #673ab7;
}
border: #212D77 solid 3px;border-radius: 100px;left: 10px;margin:0;width:45px;top: 13px;position: absolute;"

</style>


<a onclick="httpkiosidbukaolshopsiteakunlogin()">
<div class="admin" style="z-index: 30;color:#fff;background: transparent;right: 134px;position: absolute;top: 45px;font-size: 14px;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);z-index: 30;border-radius: 10px;left: 10px;width:45px;top: -10px;position: absolute;height:40px;background: transparent; border:none;font-size: 40px;">≡</div>
			
</button></a>


<div class="ard" style="border-top-right-radius: 0px;margin-top: 205;">

<!--NAMA USER-->
<div class="mybutton1" style="top: 167px;position: absolute;z-index: 30;padding: 13px;padding-left: 5px;border-radius:13px;height: 80px;">

<a href="https://simanapp.bukaolshop.com/akun/?page=profil">
<img class="gambar" style="border: #fff solid 1px;border-radius: 104px;position: absolute;right: 280px;top: 5px;font-size: 14px;"
     src="{{foto_profil}}"></a>

<div class="admin" style="background: transparent;right: 220px;position: absolute;top: 20px;font-size: 8px;">
    {{nama_user}} ({{id_user}})</div>
<div class="admin" style="background: transparent;right: 220px;position: absolute;top: 40px;font-size: 8px;"id="saldo_user">Rp{{saldo_user}}</div>
<!--<div class="tittle1" style="margin-left: 210px; 16px;margin-top: -1vw; color: #fff;" id="saldo_user">Saldo anda : 📀 Rp{{saldo_user}}</div>-->

<!--ICON CHAT-->


<a href="https://simanapp.bukaolshop.com/akun/?page=topup">
<img style="border-radius: 10px;right: 140px;width:32px;top: 15px;position: absolute;" src="https://i.postimg.cc/DyCZS56b/20220102-093828.png"></a>
<div class="admin" style="color:#2196F3;background: transparent;right: 135px;position: absolute;top: 45px;font-size: 14px;">Top Up</div>

<a href="https://simanapp.bukaolshop.com/digital/97275">
<img style="border-radius: 10px;right: 30px;width:30px;top: 15px;position: absolute;" src="https://i.postimg.cc/6p6R0Y8Y/20211226-001707.png"></a>
<div class="admin" style="color:#2196F3;background: transparent;right: 20px;position: absolute;top: 45px;font-size: 14px;">Transaksi</div>

<!--ICON CHAT-->

<a href="https://simanapp.bukaolshop.site/akun/?page=chat">
<img style="border-radius: 10px;right: -3px;width:30px;top: -157px;position: absolute;" src="https://imgbb.su/images/2021/12/22/385a51a6074eeeb5a8c30459a4b5e8f1.png"></a>

<a href="https://simanapp.bukaolshop.site/akun/?page=notifikasi">
<img style="border-radius: 10px;right: 40px;width:28px;top: -157px;position: absolute;" src="https://e.top4top.io/p_2182j9a190.png"></a>

</span>
</div>



<style>
* {
  box-sizing: border-box;
}

* {
margin: 0px;
margin-top: -1px;
}

body {
background: #fff;}

marquee {
  color: #ff0000;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 5px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.0);  
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: solid 2px;
}

.button {
  font-size: 10px;    
  font-family: arial;
  text-decoration: none;
  outline: none;
  color: #595959;
  background-color: transparent;
  border: none;
  width: 18%;
  margin: 8px;
  margin-bottom: 15px;  
}

.dropdown {
 font-size: 10px;
 text-decoration: none;
 outline: none;
 color: #fff;
 border: none;
 border-radius: 15px;
 width: 18%;
 font-weight: bold;
 display: inline;
}

.dropdown-content{
 display: none;
 position: absolute;
 box-shadow: 2px 0px 1000px 500px rgba(0,0,0,0.35);
 -webkit-box-shadow: 2px 0px 1000px 500px rgba(0,0,0,0.35);
 -moz-box-shadow: 2px 0px 1000px 200px 5gba(0,0,0,0.35); 
 z-index: 1;
 width: auto;
 background: #fff;
 border-radius: 25px;
 padding-top: 10px;
 width: 90%;
 left: 5%;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.image {
 border-radius: 15px;
 width: 100%;
 background: #fff;
 padding:10px;
}

.kosong {
 border-radius: 23px;
 width: 100%;
 padding: 10px;
 margin-bottom: 5px;
}

.ard {
 background: #fff;
 margin-bottom: 11px;
 padding-top: 1px;
 padding-bottom: 10px;
 z-index: 1;
 box-shadow: 0px 0.3px 1px 1px rgba(0,0,0,0.05);
}

.daftar {
  height: 48px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  background:#fff;
  padding-top:5px;
box-shadow: 0.6px 0.6px 4px -1.5px rgba(0,0,0,0.4);
}

.gambarlist {
  width:30px;
  margin-top: 4px;
  background: #fff;
  border-radius: 10px;
}

.list {
  margin-left:15px;
  font-weight: 800;
  font-family: 'Urbanist', sans-serif;
  color: #000000;
  margin-top: 10px;
  font-size: 15px;
  display: inline;
  background: transparent;
  position: absolute;
}

.kiosid {
background:#fff;padding-left:15px;padding-right:15px;border: 10px dot #fff;z-index: 0;border-top-left-radius: 30px;border-top-right-radius: 30px;
}

.harga {
  margin-left:10px;
  font-weight: 800;
  font-family: 'Urbanist', sans-serif;
  margin-top: -7px;
  right: 27px;
  color: #000000;
  font-size: 30px;
  display: inline;
  background: transparent;
  position: absolute;
}


.image:hover {}

.mybutton1{
 box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.35);
 float: center;
 border-radius: 8px;
 padding: 30px;
 z-index: 1;
 width: 93%;
 top: 10px; 
 right:3.5%;;
 left: 3.5%;
 background: #fff;
}


.tooltip a {
  cursor: none;
}

.tooltip .tooltiptext {
 visibility: hidden;
 width: 100%;
 max-width: 90%;
 text-align: center;
 border-radius: 6px;
 position: absolute;
 display: block;
 z-index: 1;
 left: 5%;
 margin-top: 10px;
 margin-left: 0px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.label {
 background-color:#ff0000;
 border-radius:100px;
 cursor:pointer;
 color:#ffffff;
 font-size: 13px;
 font-family: arial;
 text-decoration:none;
 box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
 font-weight: bold;
 padding: 4px;
}

.imgtool {
 margin-left: 0px;
 box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.4);
 border-radius: 20px;
 box-shadow: 2px 0px 1000px 500px rgba(0,0,0,0.35);
 -webkit-box-shadow: 2px 0px 1000px 500px rgba(0,0,0,0.35);
 -moz-box-shadow: 2px 0px 1000px 200px 5gba(0,0,0,0.35); 
}

.tittle { 
 font-size: 18px; 
 color: #212D77; 
 font-family: 'Urbanist', sans-serif;
 border-radius: 20px;
 padding: 5px;
 margin-top: -5px; 
 margin-bottom: 10px; 
 margin-left: 15px;
 margin-right:8px; 
 font-weight: 700;
} 

.tittle1 { 
 font-size: 15px; 
 color: #4a494d; 
 font-family: 'Urbanist', sans-serif;
 border-radius: 20px;
 padding: 5px;
 margin-top: -5px; 
 margin-bottom: 10px; 
 margin-left: 15px;
 margin-right:8px; 
 font-weight: 700;
} 

.subtittle { 
 font-size: 15px;
 font-weight: bold;
 color: #000;
 font-family: arial;
 border-radius: 20px;
 padding: 5px;
 margin-top: 10px;
 background: #f7f7f7;
 margin-bottom: 10px;
 width: 50%;
 text-align: center;
 margin-left: 8px;
 margin-right:8px;
}

.gambar {
 box-shadow: 0.5px 0.5px 6px -2.5px rgba(0,0,0,0.4);
 width: 60px;
 right: 33px;
 position: absolute;
 top: 30px;
 border-radius: 13px
}

.gambar1 {
 border-radius: 15px;
 border: #f5f5f5 solid 1px;
 width: 100%;
 padding: 10px;
 box-shadow: 0.6px 0.6px 4px -1.5px rgba(0,0,0,0.9);  
cursor:none;   
 margin-bottom: 5px;
}

.admin {
 background-color:transparent;
 font-family: 'Urbanist', sans-serif;
 border-radius:100px;
 color:#673ab7;
 font-size: 13px;
 text-decoration:none;
 padding: 4px 1px 4px 0px;
}

    /*GESER SAMPING*/
    div.scrollmenu {
      background-color: transparent;
      overflow: auto;
      white-space: nowrap;
        margin-left: 15px;
        padding: 10px;
    }

    /*MENU SCROLL KESAMPING*/
div.scrollmenu a {
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
    }

    /*LATAR GESER SAMPING*/
    .button22 {
      font-size: 11px;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #fff;
      border: none;
      border-radius: 15px;
      height:140px;
      width: 33%;
      margin-right: 10px;
      margin-top: 20px;      
  padding: 0px;
      box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.9);  
    }

    /*GAMBAR SCROOL SAMPING*/
    .image22 {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;margin-top: 5px;
     box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.0);  
    }
    
</style>
<body>

<!--WARNA BELAKANG BAR QRIS-->
<style>
				@keyframes move_wave {
    100% {
        transform: translateX(0) translateZ(0)				
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(25%) translateZ(10)
    }
}
.waveWrapper {
  position: absolute;width: 100%;height: 170px;top:0;margin: auto;overflow: hidden;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 251px;
    bottom: -1px;
    background-image: linear-gradient(to top, #212D77 20%, #2196F3 60%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.50;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 500%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 7.5s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
</style>
<script src="https://rawcdn.githack.com/modernplay/hostfile/f1a50044e552a32247eb808f8876abbb6bc12554/jssor.slider-kat.min.js" type="text/javascript">/*kiosid*/</script>
<script type="text/javascript">
    window.jssor_1_slider_init = function(){
        var jssor_1_options = {
            $AutoPlay: 1,
            $SlideWidth: 780,
            $SlideHeight: 320,
            $SlideSpacing: 25,
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
        var MAX_WIDTH = 0;
        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;
            if (containerWidth) {
                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, 						containerWidth);jssor_1_slider.$ScaleWidth(expectedWidth);}
            else {
                window.setTimeout(ScaleSlider, 0);}
        }
        ScaleSlider();
        $Jssor$.$AddEvent(window, "load", ScaleSlider);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
    };
</script>
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('https://a.top4top.io/p_21867h2s10.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('https://d.top4top.io/p_2186rwkol0.png')"></div>
  </div>
</div>
<img src="https://i.postimg.cc/d3dCRQ6w/20211226-203025.png" style="z-index: 0; position: absolute;width: 100%;height: 251px;top:0;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
</br></br></br></br></br></br></br></br>
</br></br></br></br></br>
<!--Slide Show-->
<div class="mdr-container" style="margin-top: -10px;padding-top:0px;
padding-bottom:0px">
    <style>

        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes jssorl-009-spin{
            from { transform: rotate(0deg);}
            to { transform: rotate(360deg);}
        }
        .img-slide {
            border-radius: 30px;


        }
    </style>
    <div id="jssor_1"
         style="
    position:relative;
    margin:0 auto;'
    margin-top:10px;
    margin-bottom:13px;
    top:20px;
    left:0px;
    width:900.1px;
    visibility:hidden;">

        <div data-u="loading" >

        </div>

        <div data-u="slides" style="cursor:default;position:relative;left:0px;width:900px;height:320px;">

            <!--GAMBAR SLIDE-->
            <div>
                <img class="img-slide" data-u="image" src="https://c.top4top.io/p_2178af1ck0.jpg" /></a></div>

            <div>
                <img class="img-slide" data-u="image" src="https://l.top4top.io/p_2178aahnb0.png" /></a></div>

        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();
    </script>
</div>
<p class="tittle" style="margin-top:0px;">Pembelian</p>
<center>

<a href="https://iaccesoris.com/pulsa.html">
<button class="button"><img class="image" src="https://i.postimg.cc/5tnsgX9F/20211226-002208.png">Pulsa</button></a>

<a href="https://iaccesoris.com/data.html">
<button class="button"><img class="image" src="https://i.postimg.cc/1z9WDGSQ/20211226-002244.png">Paket Data</button></a>

<a onclick="httpskiosidbukaolshopsiteakunlogin()">
<button class="button"><img class="image" src="https://i.postimg.cc/cCV93Px9/20211226-002517.png">Voucher Game</button></a>

<a href="https://iaccesoris.com/pln.html">
<button class="button"><img class="image" src="https://i.postimg.cc/rw2Zw6Yz/20211226-002307.png">Listrik</button></a>



<a href="https://simanapp.bukaolshop.com/digital/84022">
<button class="button"><img class="image" src="https://i.postimg.cc/KcVsC3PP/20211226-002322.png" >TV Prabayar</button></a>


<!--<a href="https://simanapp.bukaolshop.com/produk/bpjs-953816">-->
<button class="button"><img class="image" src="https://i.postimg.cc/LX5NbmhQ/20211226-002341.png">BPJS</button></a>

<!--<a href="https://simanapp.bukaolshop.com/produk/speedy-indihome-953820">-->
<button class="button"><img class="image" src="https://i.postimg.cc/0yGW6tLn/20211226-002358.png"></a>Internet</button>

<div class="dropdown">
<button class="button"><img class="image" src="https://i.postimg.cc/HsyPmWzf/20211226-002502.png"></a>Lainnya<!--  --></button>
</center>

</div>
</center>

    <style>
.image--game {
  width: 65px;
  height: 65px;
  object-fit: cover;  
  border-radius: 18px;
  margin-top: -35px;
}

.deskripsi--card--game {
  color: #ffff;
  margin-top: 30px;
  font-weight: 620;
}

.link--open--game {
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #ff742b;
  background-color: #2196F3;
  padding: 2px 30px;
  width: 110px;
  border-radius: 200px;
  text-align: center;
  font-weight: 300;
  font-weight: 500;      
  }
}
    </style>

    <script>
    				function animation(span) {
   span.className = "turn";
   setTimeout(function () {
      span.className = ""
   }, 700);
}

function jam() {
   setInterval(function () {

      var waktu = new Date();
      var jam   = document.getElementById('jam');
      var hours = waktu.getHours();
      var minutes = waktu.getMinutes();
      var seconds = waktu.getSeconds();

      if (waktu.getHours() < 10)
      {
         hours = '0' + waktu.getHours();
      }
      if (waktu.getMinutes() < 10)
      {
         minutes = '0' + waktu.getMinutes();
      }
      if (waktu.getSeconds() < 10)
      {
         seconds = '0' + waktu.getSeconds();
      }
      jam.innerHTML  = '<span>' + hours + '</span>'
                     + '<span>' + minutes + '</span>'
                     + '<span>' + seconds +'</span>';

      var spans      = jam.getElementsByTagName('span');
      animation(spans[2]);
      if (seconds == 0) animation(spans[1]);
      if (minutes == 0 && seconds == 0) animation(spans[0]);

   }, 1000);
}
    </script>
    <style>
    			
#jam span {
   float: left;
 color: #fff; 
   font-family: 'Urbanist', sans-serif;
   text-align: center;
   font-size: 20px;
   margin: 0 5%;
   padding: -5px;
   width: 10%;
   border-radius: 10px;
   box-sizing: border-box;      			     			
}
#jam span:nth-child(1) {
   background: #2196F3;
}
#jam span:nth-child(2) {
   background: #2196F3;
}
#jam span:nth-child(3) {
   background: #2196F3;
}
#jam::after {
   content: "";
   display: block;
   clear: both;   
}
span.turn {
   animation: turn 0.7s ease;
}
@keyframes turn {
   0% {transform: rotateX(0deg)}
   100% {transform: rotateX(360deg)}
}
@media screen and (max-width: 10px){
   #jam span {
      float: left;
      text-align: center;
      font-size: 5px;
      margin: 0 1.5%;
      
   }
}
    </style>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />
<style>


    /*Style Icon*/
    .mykiosid{
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
        margin-top: 10px;
        margin: 4px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        width: auto;
        margin-bottom: 10px;
    }

    .sidenav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 40;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        border-radius: 20px;
        margin-left: 0px;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    }

    .sidenav2 {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        border-radius: 20px;
        margin-left: 0px;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    }

    .sidenav a {
        padding: 0px;
        text-decoration: none;
        font-size: 25px;
        color: #5FB2FF;
        display: block;
    }

    .sidenav a:hover {
        color: #FFF;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 20;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #5FB2FF;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }}



</style>

<!--JAVA SCRIPT POP UP INFORMASI-->
<script>
    function httpskiosidbukaolshopsiteakunlogin() {
        document.getElementById("info").style.width = "100%";
    }
    function httpskiosidbukaolshopsite() {
        document.getElementById("info").style.width = "0";
    }
</script>

<script>
    function httpkiosidbukaolshopsiteakunlogin() {
        document.getElementById("info2").style.width = "85%";
    }
    function httpkiosidbukaolshopsite() {
        document.getElementById("info2").style.width = "0";
    }
</script>
<!---Sip--->


<!--INFORMASI-->
<div id="info" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="httpskiosidbukaolshopsite()"><b>×</b></a>
    </br>
    <p style="margin-left:20px;margin-top: 0px;margin-bottom: 1px;font-weight: bold;font-family: 'Urbanist', sans-serif;color: #4a494d;font-size: 17px;">Menu Game</p>
    <p style="margin-left:20px;margin-top: 3px;margin-bottom: 15px;font-family: arial;color: #000;font-size: 10px;">Semua kategori yang tersedia</p>

    <div class="kiosid">
        <a href="https://iaccesoris.com/freefire.html">
            <div class="daftar" style="margin-top: 0px;">
                <img class="gambarlist" src="https://i.postimg.cc/023t91DK/7679-freefire.jpg">
                <div class="list">
                    Free Fire Promo
                </div>
                <div class="harga">
                    →
                </div>
            </div></a>

        <a href="https://iaccesoris.com/mobileLegends.html">
            <div class="daftar" style="margin-top: 0px;">
                <img class="gambarlist" src="https://i.postimg.cc/pLMD21wV/logo-mobile-legend.png">
                <div class="list">
                    Mobile Legend
                </div>
                <div class="harga">
                    →
                </div>
            </div></a>

        <a href="https://iaccesoris.com/higsdomino.html">
            <div class="daftar" style="margin-top: 0px;">
                <img class="gambarlist" src="https://i.postimg.cc/nzJyh18R/image.jpg">
                <div class="list">
                    Higgs Domino
                </div>
                <div class="harga">
                    →
                </div>
            </div></a>

        <a href="https://iaccesoris.com/valorant.html">
            <div class="daftar" style="margin-top: 0px;">
                <img class="gambarlist" src="https://i.postimg.cc/G2ZRFW8z/1200px-Valorant-logo-pink-color-version-svg.png">
                <div class="list">
                    Valorant
                </div>
                <div class="harga">
                    →
                </div>
            </div></a>
        </p>
    </div>
</div>
</head>
