/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #1a98e2;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1a98e2;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #0062cc;
    color: #fff;
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none !important;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a98e2;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header {
    background: #fff;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(26, 152, 226, 0.9);
    padding: 12px 0;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

#header.header-scrolled img.img-1,
#header img.img-2 {
    display: none;
}

#header img.img-1,
#header.header-scrolled img.img-2 {
    display: block;
}

#header .button {
    margin-left: 10px;
    color: #000;
    border-radius: 5px;
    padding: 6px 15px 8px 15px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border: 2px solid rgb(0 0 0 / 0.25);
}

@media (max-width: 992px) {
    #header {
        padding: 12px 0;
    }

    #header .logo {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    #header .logo img {
        max-height: 30px;
    }

    .back-to-top {
        display: none;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
}

.header .nav-menu a {
    color: rgba(26, 152, 226, 0.7);
}

.header-scrolled .nav-menu a {
    color: rgba(255, 255, 255, 0.7);
}

.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.header .nav-menu>ul>li>a:before {
    background-color: #1a98e2;
}

.header-scrolled .nav-menu>ul>li>a:before {
    background-color: #fff;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fff;
}

.header .nav-menu a:hover,
.header .nav-menu .active>a,
.header .nav-menu li:hover>a {
    color: #1a98e2;
}

.header-scrolled .nav-menu a:hover,
.header-scrolled .nav-menu .active>a,
.header-scrolled .nav-menu li:hover>a {
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 22px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #2c4964;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #1a98e2;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

dl.nav-left {
    background: #fff;
    border-radius: 5px;
    margin-left: -20px;
    margin-right: 15px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

dl.nav-left ul {
    margin: 0;
}

dl.nav-left ul a {
    display: block;
    padding: 10px 15px;
}

dl.nav-left ul .garis {
    border-bottom: 1px solid #f7f7f7;
}

dl.nav-left ul.active a,
dl.nav-left ul a:hover {
    background: #1a98e2;
    color: #fff;
}

dl.nav-left ul.active a.garis-top,
dl.nav-left ul a.garis-top:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

dl.nav-left ul.active a.garis-bwh,
dl.nav-left ul a.garis-bwh:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Get Startet Button */
.get-started-btn {
    margin-left: 25px;
    color: #fff;
    border-radius: 5px;
    padding: 6px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.get-started-btn:hover {
    border-color: #fff;
    color: #fff;
}

.header .get-started-btn {
    color: rgba(26, 152, 226, 0.8);
    border: 2px solid rgba(26, 152, 226, 0.5);
}

.header .get-started-btn:hover {
    border-color: #1a98e2;
    color: #1a98e2;
}

.header-scrolled .get-started-btn {
    color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.header-scrolled .get-started-btn:hover {
    border-color: #fff;
    color: #fff;
}

@media (max-width: 992px) {
    .get-started-btn {
        /* margin: 0 48px 0 0; */
        padding: 6px 18px;
    }
}

@media (max-width: 768px) {
    dl.nav-left {
        margin-left: 0;
        margin-right: 0;
    }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 100px 0;
    overflow: hidden;
}

.section-page {
    padding-bottom: 35px;
    padding-top: 122px;
    background-image: linear-gradient(10deg, #1a98e2, rgba(0, 161, 255, 0.9219), #1ac4e2);
    color: #fff;
}

.section-bg {
    background-color: #f9f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.section-title p {
    margin-bottom: 0;
}

.sec-by {
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

/*--------------------------------------------------------------
  # Transaksi
  --------------------------------------------------------------*/
.intro-form .input-div {
    position: relative;
    display: grid;
    margin-bottom: 30px;
    padding-top: 5px;
    border-bottom: 2px solid #d9d9d9;
}

.intro-form .input-div {
    margin-top: 0;
}

.input-div>div {
    position: relative;
    height: 35px;
}

.input-div>div>h5 {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #1a98e2;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    left: 35px;
    font-size: 14px;
}

.input-div.focus>.i>i {
    color: #1a98e2;
    font-size: 30px;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding-left: 35px;
    font-size: 1.2rem;
    color: #555;
    font-family: "Poppins", sans-serif;
}

.input-div>div>input:valid {
    color: #1a98e2;
}

.input-div.pass {
    margin-bottom: 4px;
}


#transaksi {
    padding-top: 25vh;
    background-image: url(../../img/back-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#transaksi .nav-kategori {
    border-bottom: 0;
}

#transaksi .nav-kategori>li>a {
    background: rgba(0, 0, 0, .43);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    min-height: 51px;
    padding: 7px 17px;
    line-height: 1;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
}

#transaksi .nav-kategori>li>a.active {
    background: #ffffff;
    color: #1a98e2;
}

#transaksi .nav-produk>li {
    display: contents;
}

#transaksi .nav-produk>li>a {
    padding: 10px 15px;
    min-height: inherit;
    color: #cfcfcf;
    text-align: center;
}

#transaksi .nav-produk>li>a.active {
    color: #1a98e2;
    border-bottom: 1px solid #1a98e2;
    margin-bottom: -1px;
}

#transaksi .body-trx {
    background: #fff;
    margin-top: 6px;
    padding: 20px 15px;
    border-radius: 0 0 6px 6px;
    transition: all ease-in-out 0.4s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#order_form .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #cfcfcf !important;
    color: #cfcfcf;
    padding-left: 35px;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
}

#order_form .form-control:valid,
#order_form .form-control:hover,
#order_form .form-control:focus {
    color: #1a98e2;
    border-bottom: 2px solid #0080ff !important;
}

#order_form i.phone {
    left: 5px;
    top: 5px;
    position: absolute;
    font-size: 30px;
    color: #cfcfcf;
}

#order_form .operator {
    position: absolute;
    right: 20px;
    top: 10px;
}

.form-group .floating-label {
    position: absolute;
    display: none;
    left: 35px;
    opacity: 0;
    font-size: 14px;
    background-color: transparent;
}

.form-group .field:valid+.floating-label {
    display: block;
    opacity: 1;
    top: -14px;
    color: #b7b7b7;
}

#order_form .btn-costume {
    border: 0;
    background: #66b3ff;
    color: #fff;
    padding: 10px 30px;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    height: auto;
    overflow: visible;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#order_form .btn-costume:hover {
    background: #0080ff;
}

/*--------------------------------------------------------------
  # Profil
  --------------------------------------------------------------*/
#about {
    padding-top: 85px;
    padding-bottom: 75px;
}

#about h2 {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    display: inline;
    color: #1a98e2;
}

#about span {
    font-size: 25px;
    margin: 0;
    line-height: 1;
}

#about p {
    margin-top: 20px;
    font-size: 15px;
}

#about .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    margin-top: 30px;
    color: #ffffff;
    background: linear-gradient(20deg, #1a98e2 10%, #1ac4e2 100%);
    border: 2px solid #1a98e2;
}

#about .btn-get-started:hover {
    border: 2px solid #10749f;
    background: linear-gradient(20deg, #10749f 10%, #1a98e2 100%);
}

#about .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #about {
        text-align: center;
    }

    #about .animated {
        -webkit-animation: none;
        animation: none;
    }

    #about .about-img {
        text-align: center;
    }

    #about .about-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #about h1 {
        font-size: 26px;
        line-height: 36px;
    }

    #about h2 {
        font-size: 18px;
        line-height: 24px;
    }

    #about .about-img img {
        width: 60%;
    }
}

@media (max-width: 575px) {
    #about .about-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
  # Ketentuan & Privasi
  --------------------------------------------------------------*/
#ketentuan {
    padding-top: 50px;
}

#ketentuan .ketentuan-body li {
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: 20px;
}

#ketentuan .ketentuan-body li.non-li {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Keuntungan
  --------------------------------------------------------------*/
.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.features .icon-box i {
    font-size: 48px;
    float: left;
    color: #1a98e2;
}

.features .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*--------------------------------------------------------------
  # Harga
  --------------------------------------------------------------*/
#harga {
    padding: 35px 0;
}

#harga .tablewrapper {
    margin: 10px auto;
    padding: 1px;
    border: 1px solid #fff;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

#harga .tabel {
    margin: 0 auto;
    border-spacing: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

#harga .tabel td {
    border: 1px solid #acc6fb;
    padding: 2px 3px;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Open Sans', Nobile, Arial;
}

#harga .tabel tr.head td {
    color: #fff;
    font-weight: bold;
    background-color: #0987c8;
}

#harga td.tutup a {
    color: #008800;
    text-transform: uppercase;
    font-weight: 700;
}

td.tutup {
    color: #ae1317;
    text-transform: uppercase;
    font-weight: 700;
}

#harga .tabel tr.td1 td {
    background-color: #fff;
}

/*--------------------------------------------------------------
  # Bergabung
  --------------------------------------------------------------*/
#join {
    padding: 75px 0;
}

.join .content h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #1a9ae2;
    font-family: "Poppins", sans-serif;
}

.join .join-content {
    margin-top: 50px;
}

.join .join-content img.animated {
    max-width: 65%;
    display: block;
    position: absolute;
    right: -117px;
    height: auto;
    top: 12px;
    z-index: -1;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.join .content .font-italic {
    max-width: 65%;
}

.join-content a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    margin-top: 30px;
    color: #1a98e2;
    border: 2px solid #1a98e2;
}

.join-content a:hover {
    color: #ffffff;
    background: #1a98e2;
}

.join .video-box {
    background: url("../../img/join-video.png") center center no-repeat;
    background-size: contain;
    height: 360px;
    max-width: 600px;
    margin-right: 25px;
    margin-left: -30px;
}

.join .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#ffffff 50%, rgba(134, 192, 226, 0.48) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.join .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #1a98e2;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.join .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(36, 157, 228, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.join .play-btn:hover::after {
    border-left: 15px solid #1a98e2;
    transform: scale(20);
}

.join .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
  # Testimoni
  --------------------------------------------------------------*/
.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #325f86;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #30a2e5;
    font-size: 20px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 5px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #1a98e2 !important;
}

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

/*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
#faq.section-bg {
    padding: 35px 0;
}

#faq .faq-list li {
    padding: 15px 10px;
    border-bottom: 1px solid #efefef;
    position: relative;
}

#faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    outline: none;
    margin-right: 20px;
}

.faq {
    background: transparent;
}

.faq .section-title h2,
.faq .section-title p {
    color: #1a98e2;
}

.faq .section-title h2::after {
    background: rgba(170, 224, 255, 0.83);
}

.faq .faq-list {
    padding: 0 100px;
}

#faq .faq-list ul,
.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 30px;
    background: #efefef;
    border-radius: 5px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    top: 24px;
    position: absolute;
    right: 0;
    left: 27px;
}

#faq .faq-list .icon-row,
.faq .faq-list .icon-row {
    font-size: 24px;
    position: absolute;
    right: -25px;
    top: 0;
}

#faq .faq-list p,
.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

#faq .faq-list .icon-show,
.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #525252;
}

#faq .faq-list a.collapsed:hover,
.faq .faq-list a.collapsed:hover {
    color: #1a98e2;
}

#faq .faq-list a.collapsed .icon-show,
.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

#faq .faq-list a.collapsed .icon-close,
.faq .faq-list a.collapsed .icon-close {
    display: none;
}

.faq a.read-more {
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    padding-right: 45px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background-image: linear-gradient(45deg, #1a98e2, rgba(0, 161, 255, 0.9219), #1ac4e2);
    position: relative;
}

.faq a.read-more i {
    font-size: 21px;
    top: 10px;
    right: 15px;
    position: absolute;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 15px 10px;
    background: #fff;
}

.contact .info-box i {
    font-size: 32px;
    color: #1a98e2;
    border-radius: 50%;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    font-size: 14px;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #1a98e2;
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #1a98e2;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #7b27d8;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    color: #fff;
    font-size: 14px;
    background: linear-gradient(45deg, rgba(24, 102, 199, 0.69) 0%, rgba(28, 176, 220, 0.78) 100%), url(../../img/footer-bg.jpg) center center no-repeat;
    background-size: cover;
}

#footer .footer-top {
    max-height: 340px;
    position: relative;
}

.footer-top .icon-apk img.apk-1 {
    height: 340px;
    position: absolute;
    clip: rect(0, 200px, 271px, 0);
    top: 68px;
}

.footer-top .icon-apk img.apk-2 {
    max-height: 445px;
    position: absolute;
    clip: rect(0, 210px, 367px, 0);
    top: -27px;
    right: 50px;
}

.footer-top .footer-download {
    padding-top: 145px;
    padding-bottom: 102px;
}

.footer-top .footer-img {
    position: absolute;
    top: 95px;
    right: 75px;
}

.footer-top .apk-barcode {
    width: 140px;
    display: block;
    margin-bottom: 15px;
}

#footer .copyright-wrap {
    border-top: 1px solid #fff;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #fff;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .footer-top .icon-apk {
        display: none;
    }
}


/*--------------------------------------------------------------
  # User
  --------------------------------------------------------------*/
#user .user-img img {
    width: 100%;
}

#user .user-form {
    text-align: center;
    text-align: -webkit-center;
    margin: auto;
}

#user .login-form {
    width: 375px;
}

#user .register {
    width: 525px;
}

#user .user-form .group-form {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

#user .group-form>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    transition: .3s;
}

#user .group-form.focus>div>h5 {
    top: -5px;
    font-size: 13px;
}

#user .group-form:before,
#user .group-form:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #1a98e2;
    transition: .4s;
}

#user .group-form:before {
    right: 50%;
}

#user .group-form:after {
    left: 50%;
}

#user .group-form.focus:before,
#user .group-form.focus:after {
    width: 50%;
}

#user i {
    color: #d9d9d9;
    transition: .3s;
}

#user i.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user .focus i.icon {
    color: #1a98e2;
    font-size: 30px;
    margin-top: -18px;
}

#user i.eye {
    position: absolute;
    right: 10px;
    font-size: 21px;
    cursor: pointer;
}

#user a.lupa {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

#user .group-form>div {
    position: relative;
    height: 35px;
}

#user .group-form>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

#user .btn-user {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #1a98e2, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

#user .btn-user:hover {
    color: #fff !important;
    background-position: right;
}

.login,
.register {
    margin-top: 10%;
}

@media screen and (max-width: 900px) {

    #user .img {
        display: none;
    }

    #user .wave {
        display: none;
    }

    #user .user-content {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    .hidden-xs {
        display: none !important;
    }

    #user .register {
        width: 400px;
    }

}

@media screen and (max-width: 575px) {
    #user .user-img {
        display: none;
    }

    #user .user-form {
        display: inline;
    }

    #user .img-1 {
        width: 125px;
        margin-top: 15px;
        position: absolute;
    }

    #user .user-form .non-form {
        margin-top: 0px;
        padding-top: 0;
    }

    .login,
    .register {
        margin-top: 28%;
    }
}